<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<div style="margin:20px;display:block;padding:0;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, sans-serif;color:#333333;">
    <tr>
      <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" width="33.33%" style="padding:0 20px 30px 0;"><h2 style="font-size: 23px;line-height:23px;color:#333333;clear:both;display:block;margin:0 0 16px 0; font-weight:normal;">Wholesaler Information:</h2>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Wholesaler Name:</strong> James Butt</p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Wholesaler No#:</strong> sdfsdf121243</p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Billing Address:</strong> AJ - 91, Sector - 2, Salt Lake, Kolkata, Arizona, United States, 700064</p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Shipping Address:</strong> AJ - 91, Sector - 2, Salt Lake, Kolkata, Arizona, null, 700064</p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Email:</strong> <a style="color:#333333" href="#">sb@gmail.com</a></p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Phone:</strong> 9876543210</p></td>
            <td align="left" valign="top" width="33.33%" style="padding:0 20px 30px 0;"><h2 style="font-size: 23px;line-height:23px;color:#333333;clear:both;display:block;margin:0 0 16px 0; font-weight:normal;">Payment Details:</h2>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Payment Amout:</strong> $240</p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Transaction ID:</strong></p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Payment Status:</strong></p></td>
            <td align="left" valign="top" width="33.33%" style="padding:0 20px 30px 0;"><h2 style="font-size: 23px;line-height:23px;color:#333333;clear:both;display:block;margin:0 0 16px 0; font-weight:normal">Shipping Details:</h2>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Order Status:</strong> New change?</p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Shipping Method:</strong> Fedex</p>
              <p style="font-size:13px;line-height:16px;padding:0;margin:0 0 6px 0;"><strong>Shipping Cost:</strong> $10.00</p></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="left" valign="top"><h2 style="font-size: 23px;line-height:23px;color:#333333;clear:both;display:block;margin:0 0 16px 0; font-weight:normal">Product Details:</h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:13px;">
          <tr>
            <th align="left" valign="top" scope="col" style="padding:10px;margin:0; border-bottom:1px solid #dadada;">#</th>
            <th align="left" valign="top" scope="col" style="padding:10px;margin:0; border-bottom:1px solid #dadada;">Product Name</th>
            <th align="left" valign="top" scope="col" style="padding:10px;margin:0; border-bottom:1px solid #dadada;">Product SKU</th>
            <th align="left" valign="top" scope="col" style="padding:10px;margin:0; border-bottom:1px solid #dadada;">Quantity</th>
            <th align="left" valign="top" scope="col" style="padding:10px;margin:0; border-bottom:1px solid #dadada;">Unit Cost</th>
            <th align="left" valign="top" scope="col" style="padding:10px;margin:0; border-bottom:1px solid #dadada;">Total</th>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px;margin:0; background-color:#fafafa;">1</td>
            <td align="left" valign="top" style="padding:10px;margin:0; background-color:#fafafa;">Key board</td>
            <td align="left" valign="top" style="padding:10px;margin:0; background-color:#fafafa;">143206</td>
            <td align="left" valign="top" style="padding:10px;margin:0; background-color:#fafafa;">1</td>
            <td align="left" valign="top" style="padding:10px;margin:0; background-color:#fafafa;">$240.00</td>
            <td align="left" valign="top" style="padding:10px;margin:0; background-color:#fafafa;">$240.00</td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px;margin:0;">1</td>
            <td align="left" valign="top" style="padding:10px;margin:0;">Key board</td>
            <td align="left" valign="top" style="padding:10px;margin:0;">143206</td>
            <td align="left" valign="top" style="padding:10px;margin:0;">1</td>
            <td align="left" valign="top" style="padding:10px;margin:0;">$240.00</td>
            <td align="left" valign="top" style="padding:10px;margin:0;">$240.00</td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>
</html>
